<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Discord Media Download{% endblock %}</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/tailwind-config.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen flex flex-col">
    <!-- Header -->
    {% include 'header.html' %}
    
    <!-- Main Content -->
    <main class="container mx-auto flex-grow p-6 mt-16 mb-16">
        {% block content %}{% endblock %}
    </main>
    
    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Scripts -->
    <script src="/static/js/main.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>